<div>
    <form action="">
        <label for="nombre">Nombre de usuario</label>
        <input id="nombre" type="text" formControlName="nombre" class="form-control">
        <label for="correo">Correo electronico</label>
        <input id="correo" type="email" formControlName="correo" class="form-control">
        <label for="contraseña">Contraseña</label>
        <input id="contraseña" type="password" formControlName="contraseña" class="form-control">
        <label for="verificacion">Confirme la contraseña</label>
        <input id="verificacion" type="password" formControlName="verificacion" class="form-control">
    </form>
    <div>
        <button>Registrarse</button>
    </div>
</div>