<div class="titulo">
<h1>Mi emprendimiento</h1>
</div>

<div id="texto">
    <p>¡Bienvenido a Fungisania! Un emprendimiento que se dedica a todo tipo de <br>
        artesanias y manualidades para todo tipo de intereses:<br>
        · Flores eternas: tela textil, tela en cintas y papel.<br>
        · Diseños: logos, stickers, viñetas, chibis o caricaturas, etc.<br>
        · Confencciones: hebillas, sombreros y pulseras.<br>
        · Decoraciones: figuras, joyeros, mini-jarras, etc.<br>
        ¡Entra en un mundo de fantasia y creación!</p>
</div>

<div>
    
</div>