<div>
    <picture>
        <img src="" alt="">
    </picture>
    <form action="">
        <div>
            <label for="correo">Correo electronico</label>
            <div class="input-group">
                <input type="email" id="correo" formControlName="correo" class="form-control">
            </div>
            <div *ngIf="">
                Ingresa un correo válido.
            </div>
        </div>
        <label for="contraseña" formControlName="contraseña" class="form-control">contraseña</label>
        <div>
            <div class="input-group">
                <input type="password">
            </div>
        </div>
    </form>
    <div>
        <button>Iniciar Sesion</button>
    </div>
    <a href="">¿Olvidastes tu contraseña?</a>
    <a href="">¿El email no coincide?</a>
</div>