<div class="titulo">
    <h1>Mis redes sociales</h1>
</div>

<div class="container-fluid px-4 text-center">
    <ul class="row gx-5">
        <li class="col">
            <button class="p-3"><a href=""><img src="/gmail.png" width="50px"></a></button>
        </li>
        <li class="col"><button class="p-3"><a href=""><img src="/instagram.png"></a></button></li>
        <li class="col"><button class="p-3"><a href=""><img src="/facebook.png"></a></button></li>
        <li class="col"><button class="p-3"><a href=""><img src="/whatsapp.png"></a></button></li>
    </ul>
</div>

<div class="titulo">
    <h1>Dirección</h1>
</div>

<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.5029385018534!2d-67.97383592462988!3d-38.935337198966344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a308c165ef605%3A0xef46cfc010376136!2sLago%20Mascardi%20742%2C%20R8324%20Cipolletti%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses!2sar!4v1753237048420!5m2!1ses!2sar"
    width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>