<nav class="row g-0 text-center">
  <ul class="nav justify-content-center">
    <div class="col-6 col-md-2">
      <li>
        <a class="nav-link" routerLink="productos">Productos</a>
      </li>

    </div>
    <div class="col-6 col-md-2">

      <li class="nav-item">
        <a class="nav-link" routerLink="ofertas">Ofertas</a>
      </li>
    </div>
    <div class="col-6 col-md-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="novedades">Novedades</a>
      </li>
    </div>
    <div class="col-6 col-md-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="miEmprendimiento">Mi emprendimiento</a>
      </li>
    </div>
    <div class="col-6 col-md-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="contacto">Contacto</a>
      </li>
    </div>
  </ul>
</nav>