body {
    background-color: #FFFAD7;
    margin: 0;
    margin-bottom: 40px;
}

html{
    min-height: 100%;
    position: relative;
}
/*If screen size is LESS than 1200px wide
@media (max-width:1200px){
   
}

/*If screen size is MORE than 800px wide

@media (min-width:800px){
     /*¡Style!
}

/*If screen size is BEETWEN 320px and 768px wide AND the orientation is in landscape mode

@media (min-width: 320px) and (max-width:768PX) and (orientation:landscape){
    ¡Style!
    
}
*/