.card {
    padding: 10px;
    margin: 3%;
    display: flex;
    justify-content: center;
    background-color: #FF90BB;
    height: 18%;
    width: 18%;
}
.card-body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap; columns: 4;
}
.containerEx{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; columns: 2;
}

button{
    border: none;
    background: none;
    width: 50px;
    height: 50px;
}
.containerEx button img{
    width: 40px;
    height: 40px;
     background-color: #FF2171;
   border-radius: 50%;
}
.producto-imagen{
 width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}

hr{
    color: #FFE4A7;
}

.titulo {
    width: 70%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FF2171;
}
.titulo h1{
    text-align: left;
    color: #FFE4A7;
}

.card img{
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
     width: 200px;
    height: 200px;
}

p{
    color: #FF2171;
}

h5{
    color: #FF2171;
}